.menu-grid {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
